# Rust
/target

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project specific
perf_metrics.json
settings.json
liked_params.json
map.json
build_counter.tmp
**/*.rs.bk

# OS
.DS_Store
# Web build
dist/
**/dist/
*.js
*.wasm
/.todo.txt
scratch/clippy_output.txt
