(
    name: "Robot",
    source_path: "3dModels/NPC/Sources/Robot.gltf",
    cut_top: 0.75,
    cut_bottom: 0.25,
    rim_thickness: 0.14280273,
    optimization_budget: Some(15000),
    head_mesh: Some("head.k2m"),
    body_mesh: Some("body.k2m"),
    legs_mesh: Some("legs.k2m"),
    scale: (0.5, 0.5, 0.5),
    config: (
        sockets: [],
    ),
)