(
    name: "Robot",
    source_path: "3dModels/NPC/Sources/Robot.gltf",
    cut_top: 0.75,
    cut_bottom: 0.4215303,
    config: (
        sockets: [
            (
                name: "Socket_Engine_1",
                part: Engine,
                position: (-0.0065083713, -0.0010129912, -0.008106889),
                rotation: (-0.99451333, 0.0, -0.051615186, 0.09098921),
                comment: "",
                color: Srgba((
                    red: 0.2,
                    green: 0.8,
                    blue: 0.2,
                    alpha: 1.0,
                )),
                effect: Some((
                    effect_type: Smoke,
                    emission: (
                        rate: 1.0,
                        lifetime: 1.0,
                        jitter: 0.1,
                    ),
                    motion: (
                        speed: 1.0,
                        spread: 0.2,
                        gravity: 0.0,
                        drag: 0.0,
                    ),
                    visuals: (
                        scale: 1.0,
                        color_start: Srgba((
                            red: 0.4,
                            green: 0.4,
                            blue: 0.4,
                            alpha: 0.6,
                        )),
                        color_end: Srgba((
                            red: 0.2,
                            green: 0.2,
                            blue: 0.2,
                            alpha: 0.0,
                        )),
                        size_start: 1.0,
                        size_end: 0.5,
                    ),
                    asset_path: None,
                )),
                effect_preset: None,
            ),
            (
                name: "Socket_Engine_2",
                part: Engine,
                position: (0.012867714, 0.4253271, 0.49993035),
                rotation: (0.99450856, 0.0, 0.038535338, 0.09730198),
                comment: "",
                color: Srgba((
                    red: 0.2,
                    green: 0.8,
                    blue: 0.2,
                    alpha: 1.0,
                )),
                effect: Some((
                    effect_type: Smoke,
                    emission: (
                        rate: 1.0,
                        lifetime: 1.0,
                        jitter: 0.1,
                    ),
                    motion: (
                        speed: 1.0,
                        spread: 0.2,
                        gravity: 0.0,
                        drag: 0.0,
                    ),
                    visuals: (
                        scale: 1.0,
                        color_start: Srgba((
                            red: 0.4,
                            green: 0.4,
                            blue: 0.4,
                            alpha: 0.6,
                        )),
                        color_end: Srgba((
                            red: 0.2,
                            green: 0.2,
                            blue: 0.2,
                            alpha: 0.0,
                        )),
                        size_start: 1.0,
                        size_end: 0.5,
                    ),
                    asset_path: None,
                )),
                effect_preset: None,
            ),
            (
                name: "Socket_Engine_3",
                part: Engine,
                position: (0.5454384, 0.39273277, -0.025402874),
                rotation: (0.14260457, 0.0, -0.97404885, 0.17576334),
                comment: "",
                color: Srgba((
                    red: 0.2,
                    green: 0.8,
                    blue: 0.2,
                    alpha: 1.0,
                )),
                effect: Some((
                    effect_type: Smoke,
                    emission: (
                        rate: 1.0,
                        lifetime: 1.0,
                        jitter: 0.1,
                    ),
                    motion: (
                        speed: 1.0,
                        spread: 0.2,
                        gravity: 0.0,
                        drag: 0.0,
                    ),
                    visuals: (
                        scale: 1.0,
                        color_start: Srgba((
                            red: 0.4,
                            green: 0.4,
                            blue: 0.4,
                            alpha: 0.6,
                        )),
                        color_end: Srgba((
                            red: 0.2,
                            green: 0.2,
                            blue: 0.2,
                            alpha: 0.0,
                        )),
                        size_start: 1.0,
                        size_end: 0.5,
                    ),
                    asset_path: None,
                )),
                effect_preset: None,
            ),
            (
                name: "Socket_Engine_4",
                part: Engine,
                position: (-0.5362171, 0.39178988, -0.02806567),
                rotation: (0.08792246, 0.0, 0.98139757, 0.17067048),
                comment: "",
                color: Srgba((
                    red: 0.2,
                    green: 0.8,
                    blue: 0.2,
                    alpha: 1.0,
                )),
                effect: Some((
                    effect_type: Smoke,
                    emission: (
                        rate: 1.0,
                        lifetime: 1.0,
                        jitter: 0.1,
                    ),
                    motion: (
                        speed: 1.0,
                        spread: 0.2,
                        gravity: 0.0,
                        drag: 0.0,
                    ),
                    visuals: (
                        scale: 1.0,
                        color_start: Srgba((
                            red: 0.4,
                            green: 0.4,
                            blue: 0.4,
                            alpha: 0.6,
                        )),
                        color_end: Srgba((
                            red: 0.2,
                            green: 0.2,
                            blue: 0.2,
                            alpha: 0.0,
                        )),
                        size_start: 1.0,
                        size_end: 0.5,
                    ),
                    asset_path: None,
                )),
                effect_preset: None,
            ),
            (
                name: "Socket_Engine_5",
                part: Engine,
                position: (0.010962129, 0.42558005, -0.5231149),
                rotation: (-0.9821142, 0.0, -0.042884476, 0.18333726),
                comment: "",
                color: Srgba((
                    red: 0.2,
                    green: 0.8,
                    blue: 0.2,
                    alpha: 1.0,
                )),
                effect: Some((
                    effect_type: Smoke,
                    emission: (
                        rate: 1.0,
                        lifetime: 1.0,
                        jitter: 0.1,
                    ),
                    motion: (
                        speed: 1.0,
                        spread: 0.2,
                        gravity: 0.0,
                        drag: 0.0,
                    ),
                    visuals: (
                        scale: 1.0,
                        color_start: Srgba((
                            red: 0.4,
                            green: 0.4,
                            blue: 0.4,
                            alpha: 0.6,
                        )),
                        color_end: Srgba((
                            red: 0.2,
                            green: 0.2,
                            blue: 0.2,
                            alpha: 0.0,
                        )),
                        size_start: 1.0,
                        size_end: 0.5,
                    ),
                    asset_path: None,
                )),
                effect_preset: None,
            ),
        ],
    ),
)